
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.screen-register{
    width:100%;
    height: 650px;
    /* border: 10px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}
.body{
    height: 490px;
    width:50%;
    /* border:2px solid black; */
    display: flex;
}
.body>div:nth-child(1){
    height: 100%;
    width:70%;
    border:1px solid gainsboro;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 8px 10px 18px gainsboro;


    padding: 20px;
}
.body>div:nth-child(1)>div:nth-child(2){
    /* height: 90px; */
    width:100%;
    /* border: 1px solid red; */
}
.body>div:nth-child(1)>div:nth-child(2)>div{
    height: 50px;
    width: 100%;
    border-top: 1px solid brown;
    border-left: 1px solid brown;
    border-right: 1px solid brown;
}
.body>div:nth-child(1)>div:nth-child(2)>div:nth-child(3){
    border-bottom: 1px solid brown;
}

.body>div:nth-child(1)>div:nth-child(2)>div>input{
    height: 100%;
    width: 100%;
    font-size: 15px;
    border: none;
    padding-left: 10px;

}

.body>div:nth-child(1)>div:nth-child(3){
    display: flex;
    margin-top: 30px;
    margin-bottom: 35px;

}
.body>div:nth-child(1)>div:nth-child(3)>P{
    
    font-size: 14px;
}        
.body>div:nth-child(1)>div:nth-child(3)>input{

    accent-color: brown;
    height: 19px;
    width:19px;
    margin-right: 10px;
    
}
.body>div:nth-child(1)>p{
    text-align: center;
    margin-bottom: 15px;
}
.body>div:nth-child(1)>p>span{
    color: brown;
    font-weight: bold;
}
.body>div:nth-child(1)>div:nth-child(5){
    height: 45px;
    width:100%;
    /* border:1px solid brown; */
    display: flex;
    justify-content: center;
}
.body>div:nth-child(1)>div:nth-child(5)>button{
    height: 100%;
    width: 30%;
    background-color: brown;
    color: white;
    border: none;
}
.body>div>h4{
    color: brown;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}


.body>div:nth-child(2){
    height: 100%;
    width:30%;
    /* border:1px solid blue; */
}
.body>div:nth-child(2)>img{
    height: 100%;
    width:100%;
}
.form{
    height: 250px;
    width: 100%;
    /* border:1px solid red; */
}
.form>div>input{
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 5px;
    border:1px solid brown;
}
.form>div:nth-child(5)>input{
    width: 50%;
    margin-left:80px;
    background-color: brown;
    color: white;
}

@media screen and (max-width:1000px){
    #body>div:nth-child(2){
        display: none;
    }
    #body>div:nth-child(1){
        width: 100%;
    }
    
}



